<h1>Edit a Landmark's information</h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Landmark Name: </label>
  <input id="name" type="text" name="landmark[name]" value="<%= @landmark.name %>">
  <label for="year_completed">Year Completed: </label>
  <input id="year_completed" type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
  <input id="submit" type="submit" value="Edit Landmark">
</form>
