<h1>Create a New Landmark</h1>

<form action="/landmarks" method="post">
  <label for="name">Landmark Name: </label>
  <input id="landmark_name" type="text" name="landmark[name]" value="name">
  <label for="year_completed">Year Completed: </label>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" value="year completed">
  <input id="submit" type="submit" value="Create New Landmark">
</form>
