<form action="/figures" method="post">

  <input id="figure_name" type="text" name="figure[name]" value="">

  <% Title.all.each do |title|  %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
    <%= title.name %>
  <% end %>

  <% Landmark.all.each do |landmark|  %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <%= landmark.name %>
  <% end %>

  <input type="submit" value="Create New Figure">
</form>
